@import '../sass/reset.scss';
@import '../sass/mixin.scss';

$color-peach: rgba(231, 129, 107, 1);
$color-peach-opacity: rgba(231, 129, 107, .5);
$color-lightpeach: rgba(255, 173, 155, 1);
$color-lightpeach-opacity: rgba(255, 173, 155, .3);
$color-black: rgba(29, 28, 30, 1);
$color-darkgrey: rgba(51, 49, 54, 1);
$color-white: rgba(255, 255, 255, 1);
$color-lightgrey: rgba(241, 243, 245, 1);
$color-lightgrey-opacity: rgba(241, 243, 245, .5);

.flexbox-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.max-container {
    max-width: 1126px;
    margin: 0 auto;
}

.space-margin {
    margin: 0 3.8rem;
}

.btn {
    display: inline-block;
    margin-top: 4rem;
    text-decoration: none;
    padding: 1.7rem 2.5rem;
    border-radius: 8px;
    font: {
        size: 1.5rem;
        weight: 500;
    }
    line-height: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .5s ease;

    &:hover {
        background-color: $color-lightpeach;
        color: $color-white;
    }
}

.btn--grey {
    background-color: $color-lightgrey;
    color: $color-black;
}
.btn--peach {
    background-color: $color-peach;
    color: $color-white;
}

.heading2 {
    margin-bottom: 2.4rem;
}

.heading2-peach {
    color: $color-peach;
}

.background {
    background: url(assets/shared/desktop/bg-pattern-leaf.svg) no-repeat, url(assets/shared/desktop/bg-pattern-leaf-right.svg) no-repeat ;
    background-position: left 13%, right 90%;

}


html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  body {
      font : {
          family: 'Jost', sans-serif;
          size: 1.6rem;
          weight: 400;
      }
    line-height: 2.6rem;
    color: $color-black;

  }

h1 {
    font : {
        size: 4.8rem;
        weight: 500;
    }
    line-height: 4.8rem;
}

h2 {
    font: {
        size: 4rem;
        weight: 500;
    }
    line-height: 4.8rem;
    letter-spacing: 2px;
}

h3 {
    font : {
        size: 2rem;
        weight: 500;
    }
  line-height: 2.6rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

figcaption {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.6rem;
    // text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}

address {
    font-style: normal;
}

//header (flexbox)
.menu {
    margin: 6.4rem 0;
    justify-content: space-between;


    &__logo {
        max-width: 19.5rem;
    }

    &__navigation__link {
        font : {
            size: 14px;
            weight: 400;

        }
        text-decoration: none;
        color: $color-black;
        line-height: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-left: 4rem;

        &:hover {
            border-bottom: 1px solid;
        }
    }

   
}

//award wining (flexbox)
.award-wining {
    background: {
        image : url(assets/home/desktop/image-hero-phone.png), url(assets/home/desktop/bg-pattern-hero-home.svg);
        repeat: no-repeat;
        position: 47.4rem -3rem, right bottom;
        size: auto;
        color: $color-peach;
    };
    color: $color-white;
    border-radius: 15px;
    padding: 0 9.5rem;
    margin-bottom: 16rem;

    &__container {
        max-width: 47.5rem;
        padding: 14.5rem 0;

        &__p {
            max-width: 44.5rem;
            padding-top: 3.2rem;
        }
    }

    &__image {
        width: 47%;
    }
}

//design flexbox
.design {
    color: $color-white;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 16rem;

    

    &__web-design {
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        transition: all .5s ease;
        align-self: baseline;

         &:hover {
             background: $color-peach;
         }

        &:before {
            @include beforeDesign(640px, url(assets/home/desktop/image-web-design-large1.jpg));

        }

        &:hover::before {
            opacity: .3;
        }
       

        &__para {
            padding: 27rem 13.65rem ;
            text-align: center;
            z-index: 2;
            position: relative;
            color: #fff;
        }
       
    }
    
   

    &__container-app-graphic {

        &__app-design {

            position: relative;
            overflow: hidden;
            border-radius: 15px;
            transition: all .5s ease;
            align-self: baseline;
            margin-bottom: 2rem;
            
    
             &:hover {
                 background: $color-peach;
             }

             &:before {
                 @include beforeDesign(308px, url(assets/home/desktop/image-app-design1.jpg) );
        
            }
    
            &:hover::before {
                opacity: .3;
            }

            &__para {
                padding: 10.5rem 15.5rem ;
                text-align: center;
                z-index: 2;
                position: relative;
                color: #fff;
            }

         
        }
    
        &__graphic-design {
            position: relative;
            overflow: hidden;
            border-radius: 15px;
            transition: all .5s ease;
            align-self: baseline;

            &:hover {
                background: $color-peach;
            }

            &:before {
                @include beforeDesign(308px, url(assets/home/desktop/image-graphic-design1.jpg) );

           }
   
           &:hover::before {
               opacity: .3;
           }

           &__para {
               padding: 10.5rem 0rem ;
               text-align: center;
               z-index: 2;
               position: relative;
               color: #fff;
           }
           
        }

    }

    &__view-projects {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 5px;
    
        &__para, & i.fas.fa-chevron-right {
            display: inline-block;
        }
    
        &__para {
            margin-right: 2.1rem;
        }
    
        & i.fas.fa-chevron-right {
            color: $color-peach;
        }
      
    }

}

//project flexbox
.project {
    position: relative;
    text-align: center;
    margin-bottom: 16rem;

    &__passionate, &__resourceful, &__friendly {
        max-width: 35rem;
        
        &__heading3 {
            margin-bottom: 3.2rem;
        }
    }

    &__passionate__image, &__resourceful__image, &__friendly__image {
        margin-bottom: 4.8rem;

    }

    &__resourceful {
        margin: 0 3rem;
    }

}
//talk-about flexbox
.talk-about {
    transform: translateY(7.2rem);
    background: {
        color: $color-peach;
        image: url('assets/shared/desktop/bg-pattern-call-to-action.svg');
        repeat: no-repeat;
        position: right center; 
    }
    color: $color-white;
    border-radius: 15px;
    padding: 0 9.5rem;
    justify-content: space-between;

    &__container {
        max-width: 44.9rem;
        padding: 3rem 0 7.2rem 0;

        &__heading2 {
            max-width: 26.8rem;
            margin-bottom: 1.9rem;
        }
    }
    
   
    
    &__link {
        align-self: center;
    }
}

//footer flexbox
.footer {
    background-color: $color-black;
    padding: 14.4rem 0 7.2rem 0;
    color: $color-lightgrey-opacity;
    font: {
        size: 1.6rem;
        weight: 700;
    }
    line-height: 26px;


    .menu__navigation__link {
        color: $color-white;
    }
   
     &__menu {
         margin: auto;
         border-bottom: 2px $color-lightgrey-opacity solid;
         padding-bottom: 3.9rem;
     }

     &__office {
        justify-content: space-between;

     &__container {
         justify-content: space-between;
         margin-top: 3.1rem;

         &__address {
             width: 35rem;
         }

        &__address__street {
            font-weight: 500;
        }
    }


        &__social {
            align-self: flex-end;

            &__logo {
                transition: .5s ease;
            }

            &__logo:hover {
                opacity: .5;
            }

           &__logo:not(:last-child) {
                margin-right: 1.6rem;
            }
        }
    }
     }

 
// PAGE WEBDESIGN

.main-page-web {
    @include main-page(right center, url(assets/web-design/desktop/bg-pattern-intro-web.svg));
   
}
.main-page-app {
    @include main-page(left center, url(assets/app-design/desktop/bg-pattern-intro-app.svg));

}
.main-page-graphic {
    @include main-page(left center, url(assets/graphic-design/desktop/bg-pattern-intro-graphic.svg));

}

//multi-page flexbox
.multi-page {
    // justify-content: space-between;
    margin-bottom: 16.6rem;


    &__container {
        display: flex;
        flex-direction: column;
        max-width: 35rem;
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 3.2rem;
      

        
    }

    &__link {
        text-decoration: none;
       
    }


    &__description {
        text-align: center;
        padding: 3.2rem;
        background-color: $color-lightpeach-opacity;
        transition: .5s ease;

        &:hover {
            background-color: $color-peach;
            color: $color-white;
        }

       

        &:hover &__heading3, &:hover &__para {
            color: white;
        }

        &__heading3 {
            color: $color-peach;
            margin-bottom: 1.6rem;
            
        }
        &__para {
            color: $color-black;
        }
    }
}


//view project flexbox
.design-project {

    justify-content: space-between;
    margin-bottom: 16.6rem;
    text-transform: uppercase;

    

   
    &__background-app {
        @include appDesign( url(assets/home/desktop/image-app-design1.jpg));
       
    }

    &__background-graphic {
        @include appDesign( url(assets/home/desktop/image-graphic-design1.jpg));
       
    }

    &__background-web {
        @include appDesign( url(assets/home/desktop/image-web-design-small1.jpg));
       
    }



    &__view-projects__link {
        text-decoration: none;
    }
}

//about-us flexblox
.about-us {
    background: {
        image: url(assets/about/desktop/bg-pattern-hero-about-desktop.svg);
        position: left bottom;
    };
    margin-bottom: 16rem;
    border-radius: 15px;
    overflow: hidden;
    background-color: $color-peach;
    color: white;
    justify-content: space-between;

    &__article {
        max-width: 65rem;
        padding: 13.5rem 0 0 9.5rem;
    }

    &__para {
        max-width: 45.8rem;
    }
}

//worldclass flexbox 
.world-class {
    border-radius: 15px;
    overflow: hidden;
    background-color: $color-lightpeach-opacity;
    margin-bottom: 16rem;

    &__image {
        border: 1px $color-lightpeach-opacity solid;
    }

    &__article {
        max-width: 53.4rem;
        padding: 15.4rem 0 0 9.4rem;

        &__para {
            margin-bottom: 2rem;
        }
    }
}

//city
.city {

    justify-content: space-around;
    margin-bottom: 16rem;


    &__container {
        max-width: 35rem;
        text-align: center;
        background: {
            image: url(assets/about/desktop/bg-pattern-canada.svg);
            repeat: no-repeat;
            position: top center;
        };
    }
    
    &__container:nth-child(2) {
        background: {
            image: url(assets/about/desktop/bg-pattern-australia.svg);
            repeat: no-repeat;
            position: top center;
        };
    }

    &__container:nth-child(2) {
        background: {
            image: url(assets/about/desktop/bg-pattern-kingdom.svg);
            repeat: no-repeat;
            position: top center;
        };
    }
}

.real-deal {
    justify-content: space-between;
}